header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(182, 213, 255, 0.4)), url(/public/banner.png) center/cover no-repeat;
    height: 371px;
}

header h2 {
    display: flex;
    font-size: 128px;
    font-weight: 700;
    text-align: center;
}